UnityProject/Library
UnityProject/Logs
UnityProject/Temp
UnityProject/UserSettings
.DS_Store
UnityProject/.vs/UnityProject/xs/project-cache
UnityProject/Assets/WX-WASM-SDK-V2/Editor/Brotli/win_x86_64
UnityProject/Assets/WX-WASM-SDK-V2/Editor/Brotli/macos
UnityProject/Assets/WX-WASM-SDK-V2/Editor/Brotli/linux_x86_64
UnityProject/Assets/WX-WASM-SDK-V2/Editor/Brotli
UnityProject/Assets/WX-WASM-SDK-V2/Editor/Node/node_modules
UnityProject/Assets/WX-WASM-SDK-V2
UnityProject/Assets/WebGLTemplates
UnityProject/obj/Debug
UnityProject
UnityProject
