UnityProject/Library
UnityProject/Logs
UnityProject/Temp
UnityProject/UserSettings
.DS_Store
UnityProject/.vs/UnityProject/xs/project-cache
UnityProject/Assets/WX-WASM-SDK-V2
UnityProject/Assets/WebGLTemplates/WXTemplate
UnityProject/Assets/WebGLTemplates
UnityProject/obj/Debug
UnityProject/AssetBundles/Android
UnityProject/Assets/Resources/DOTweenSettings.asset
UnityProject/Assets/StreamingAssets
UnityProject/AndroidExport
UnityProject/AssetBundles
UnityProject/.idea/.idea.UnityProject
WebGLExport
UnityProject/Bundles/WebGL/DefaultPackage
UnityProject/Assets/Resources/yoo
UnityProject/yoo
UnityProject/Bundles
UnityProject/.vs
