UnityProject/Library
UnityProject/Logs
UnityProject/Temp
UnityProject/UserSettings
.DS_Store
UnityProject/.vs/UnityProject/xs/project-cache
UnityProject/Assets/WX-WASM-SDK-V2
UnityProject/Assets/WebGLTemplates/WXTemplate
UnityProject/Assets/WebGLTemplates
UnityProject/obj/Debug
